.rightthree {
  padding: 10px;
  height: auto;
}
#lebenslauf {
    display: none;
  }
.iframe {
  width: 100%;
  min-height: 550px;
}
.flex-int {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.flex-int p {
  color: #626262;
}
.box-int {
  width: 50%;
  color: #626262;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  #lebenslauf {
    display: block;
  }
}
