.sectiontwo {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px;
  justify-content: space-between;
  background-color: #ffffff;
}
.topsectwo {
  padding: 0px 10px 70px 10px;
  position: relative;
  z-index: 1;
}
h2 {
  font-size: 24px !important;
}
.twoleft {
  width: 23%;
}
.tworight {
  width: 70%;
}
.topsectwo {
  background-color: #fff;
}
@media only screen and (max-width: 700px) {
  .twoleft {
    width: 100%;
  }
  .tworight {
    width: 100%;
  }
}
.spacer-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .twoleft button {
    width: 90%;
    margin-left: 5%;
  }
  .twoleft {
    width: 30%;
  }
}
.spacer-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
