.contact-form{
   background-color: #ffffff00 !important;
   padding: 0px 10px 0px 10px;
   width: 100%;
   position: relative;
   z-index: 2;
}
.contact-form p{
   color: #ff6633 !important; 
}
.contact-form input{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #000;
}
.contact-form textarea{
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}
.contact-section{
    position: relative;
    z-index: 999;
    background-color: #ffffff00;
    margin-bottom: 0px !important;
}
#contact{
    background-color: #ffffff00 !important;
    width: 100% !important;
}
.fieldWarning{
    color: #ff6633 !important;
}
.contactInfo{  
    border-radius: 10px;
    position: relative;
}
.contactInfoBox{
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    padding: 10px 0px;
}
.contact-btn{
    background-color: #ff6633;
    border: none;
    min-width: 150px;
    font-weight: bold;
}
.contact-btn:hover{
    box-shadow: 0px 0px 2px 1px #ff6633 !important;
}
.contact-form-data{
    position: relative;
    z-index: 1;
}
.contact-btn{
    box-shadow: none !important;
    background-color: #ff6633 !important;
}