.parallax{
    background-image: url(../images/Parallax/Parallax1.jpg);
    background-color: #fff;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 70px 10px;
}
.text-parallax{
    position: relative;
    text-align: center;
    color: #beb7b7;
}
.text-parallax h3{
    font-size: 30px !important;
}
.parallax-button{
    align-self: center;
    background-color: #ff663300;
    width: max-content;
    border: none;
    color: #fff;
    border: 1px solid #ff6633;
    font-size: 15px;
    padding: 5px 15px;
}
.parallaxBlur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.475);
}
.loginForm{
    padding: 5px;
}
.documents p{
    color: #ff6633;
    background-color: #000000;
    display: inline-block;
    padding: 5px 10px;
}
.documents a{
    font-size: 14px;
    color: #ffffff !important;
}
.documents i{
    color: #ff6633;
}
.documents{
    text-align: left !important;
}
.docBotton:hover{
    background-color: #ff6633;
    color: #fff;
    transition-duration: 0.3s;
}
.docBotton i{
    color: #000;
}
.docBotton i:hover{
    color: #fff;
}
.para{
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 25px !important;
}
@media only screen and (max-width: 600px){
    .parallax{
        background-image: url(../images/Parallax/Parallax1Mob.jpg) !important;
        background-attachment: fixed;
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
        padding: 70px 5px;
        width: 100%;
    }
}