.skilsSection{
    background-color: #dbc596;
    background-color: #fff;
    justify-content: space-around;
    
}
.bar{
    background-color: #dbc596;
    background-color: #bbb;
    width: 40%;
}
.progress{
    background-color: #0a1f44 !important;
    border-radius: 0px !important;
}
.column{
    width: 20%;
}
.title{
    color: #333333 !important;
}
.label{
    color: #333333 !important;
    float: right !important;
}
@media screen and (max-width: 900px) {
  .column {
    width: 90%;
  }
} 