.nav-link:hover {
  color: #ff6633 !important;
}
.nav-link{
  color: #333333 !important;
  padding: 16px !important;
  text-decoration: none !important;
  display: inline !important;
  font-size: 14px !important;
  border-right: 1px solid #bbb;
}
.nav-linkOnScroll{
  color: #333333 !important;
}
ul li  a{
  text-decoration: none !important;
}
.dropdown-toggle{
    text-decoration: none !important;
}
.nav-link:focus {
  color: #ff6633 !important;
}
.nav-link:active {
  color: #ff6633 !important;
}
.navbar-toggler-icon {
  border-radius: 3px;
}
.headerIconOnScroll i{
  color: #333333 !important;
}
.headerIcon i{
  color: #333333 !important;
}
.mainnav {
  border-bottom: 0px solid #ffffff;
  background-color: #fff;
  width: 100%;
  z-index: 999;
  transition-duration: 0.3s;
}
.mainnav i{
  color: #333333;
}
.light a{
  color: #000 !important;
  font-weight: bold !important;
}
.light i{
  color: #000 !important;
}
.light{
  box-shadow: 0px 0px 10px 0.1px #a09f9f;
}
.mainnavOnScroll{
  background-color: #4b4a4af0;
  width: 100%;
  z-index: 999;
  color: #000;
  transition-duration: 1s;
}
.mainnavOnScroll i{
  color: #fff;
}
.navbar {
  position: sticky !important;
  top: 0;
}
.language{
  position: relative;
  float: right;
}
.lanMenuIcon img{
  width: 30px;
  border: 1px solid #bbb;
}
.lanIcon{
 width: 70%;
}
.lanIcon img{
  width: 30px;
  position: relative;
  float: right;
  top: 50%;
  transform: translate(0, -50%);
}
.lanRow{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.lanText{
  width: 30%;
  float: left;
  position: relative;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 9999999;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a:hover{
  background-color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header-icons{
  color: red !important;
  position: relative;
  z-index: 5000;
}
.dropdown:hover .dropdown-content {display: block;}
.switch {
  position: relative;
  align-self: center;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6633;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
