.projectsSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
}
.projectSectionMain {
  background-color: #000;
  z-index: 1 !important;
  position: relative;
  margin-top: 50vh;
}

img {
  width: 70%;
}
.urltextOnHover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.646);
  z-index: 1000;
  display: none;
}
.projectsSection:hover .urltextOnHover {
  display: block;
  animation-duration: 1s;
}
.urltext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 3px;
}
h2 {
  padding: 70px 0px 30px 0px;
}
h3 {
  color: #fff !important;
}
.projectsTitle {
  padding: 0px 12px 0px 12px;
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .projectLaptopSize {
    min-height: 50px;
    background: linear-gradient(90deg, #fbc29d 0%, #fe9149 70%, #ff6633 100%);
  }
  .projectMobileSize {
    min-height: 50px;
    background: linear-gradient(90deg, #fbc29d 0%, #fe9149 70%, #ff6633 100%);
  }
}
@media screen and (min-width: 600px) {
  .projectLaptopSize {
    position: relative;
    width: 50%;
    background: linear-gradient(90deg, #fbc29d 0%, #fe9149 70%, #ff6633 100%);
    border-right: 1px solid #333333;
    background-color: #fff;
    min-height: 150px;
  }
  .projectMobileSize {
    position: relative;
    background-color: #fff;
    border-left: 1px solid #333333;
    background: linear-gradient(90deg, #ff6633 0%, #fe9149 70%, #fbc29d 100%);
    width: 50%;
    min-height: 150px;
  }
}
