body {
  margin: 0;
  font-family: 'Fira Sans','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
  /* background-color: #fff !important; */
  perspective: 1;
  height: 100vh;
 font-family: 'Fira Sans' !important;
  /* position: relative; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  color: #ff6600 !important;
  font-weight: 400 !important;
}
