.footerNav span {
  color: red !important;
}

.footer {
  position: relative;
  margin-top: 0px !important;
  padding-top: 50px !important;
  background-color: #0a1f44;; 
  border-top: 3px solid #7395ae;
}
.navLight span {
  color: #f7f3f3 !important;
}
.footerDown{
  border-top: 3px solid #7395ae !important;
}
.footer-Nav a {
  color: #bbb !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block !important;
  font-size: 14px;
}
.footerNavLight a {
  color: #ebe7e7 !important;
}

li span {
  color: #bbb !important;
}
h5 {
  color: #fff !important;
}
.copyright {
  color: #bbb;
}
i:hover {
  color: #ff6633;
}
li{
    text-decoration: none !important;
    list-style: none;
}
.footerAddress{
    padding-left: 0px !important;
}
.footerAddress i{
    color: #bbb;
}
@media only screen and (max-width: 600px) {
  .footer {
    padding: 5px;
  }
}
